:root {
  --nord0:  #2e3440;
  --nord1:  #3b4252;
  --nord2:  #434c5e;
  --nord3:  #4c566a;
  --nord4:  #d8dee9;
  --nord5:  #e5e9f0;
  --nord6:  #eceff4;
  --nord7:  #8fbcbb;
  --nord8:  #88c0d0;
  --nord9:  #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --nord-extended-5: #505b72;
  --nord-extended-6: #5b6780;
  --nord-extended-7: #6d7991;
  --nord-extended-8: #768199;

  --lighter-blue:  #698eb9;
  --light-cyan:    var(--nord7);
  --cyan:          var(--nord8);
  --light-blue:    var(--nord9);
  --blue:          var(--nord10);
  --red:           var(--nord11);
  --orange:        var(--nord12);
  --yellow:        var(--nord13);
  --green:         var(--nord14);
  --purple:        var(--nord15);
  --pink:          var(--nord15);


  --nord-dark-0:     var(--nord0);
  --nord-dark-1:     var(--nord1);
  --nord-dark-2:     var(--nord2);
  --nord-dark-3:     var(--nord3);
  --nord-light-0:    var(--nord4);
  --nord-light-1:    var(--nord5);
  --nord-light-2:    var(--nord6);
  --nord-green-cyan: var(--nord7);
  --nord-cyan:       var(--nord8);
  --nord-light-blue: var(--nord9);
  --nord-blue:       var(--nord10);
  --nord-red:        var(--nord11);
  --nord-orange:     var(--nord12);
  --nord-yellow:     var(--nord13);
  --nord-green:      var(--nord14);
  --nord-purple:     var(--nord15);


  --primary-back:   #ffffff;
  --secondary-back: #0068b5;
  --tertiary-back:  #428bca;

  /* Lighter blue */
  /* --primary-back-alt:   #163b6e; */
  /* --secondary-back-alt: #102643; */

  /* Darker blue */
  --primary-back-alt:   #102643;
  --secondary-back-alt: #163b6e;
  --tertiary-back-alt:  #0c1b32;

  --primary-accent:     #00c7fd;
  --secondary-accent:   #CC94DA;
  --tertiary-accent:    #bba97c;

  --tertiary-accent-alt: #F2DEBB;

  --primary-text:   #000000;
  --secondary-text: #ffffff;
  --tertiary-text:  #ffffff;

  --primary-text-alt:   #ffffff;
  --secondary-text-alt: #ffffff;
  --tertiary-text-alt:  #ffffff;
}





/*                                  */
/*                                  */
/*      General/Navbar Section      */
/*                                  */
/*                                  */

.overall {
  background-color: var(--primary-back-alt);
}

.main-bar-name {
  color: var(--secondary-text-alt);
  font-size: 1.45rem;
  padding-top: 1px;
}

.main-bar-name:hover {
  color: var(--secondary-text-alt);
}

.navbar {
  background-color: var(--secondary-back-alt);
}

.nav-link {
  color: var(--secondary-text-alt);
  /* font-weight: bold; */
  font-size: 1rem;
}

.col-title {
  text-align: center;
  color: var(--primary-text-alt);
  margin-bottom: 35px;
}

.navbar-toggler-icon {
  background-color: var(--secondary-text-alt);
}

.icon-bar {
  background-color: var(--secondary-text-alt);
}

/* Custom font color for all text */
p {
  color: var(--secondary-text-alt);
  font-size: 18px;
}

.outline-li {
  margin-left: 1%;
  color: var(--primary-text-alt);
  padding: 6px;
  /* font-weight: bold; */
  font-size: 1.2rem;
}

.outline-ol {
  color: var(--primary-text-alt);
  padding: 14px;
  padding-top: 12px;
  font-size: 1rem;
}

.head-li {
  margin: auto;
  /* padding-top: 20px; */
  font-size: 1.5rem;
}

/* Separating line for each about section */
.separator {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid var(--secondary-back);
  color: var(--secondary-back);
}

/* Create better color background for button */
.navbar-toggler {
  background-color: var(--primary-accent)
}

/* Underline the navbar headers */
.nav-item > a {
  position: relative;
  color: var(--secondary-text-alt);
  text-decoration: none;
  padding-top: 10px;
}

.nav-item > a:hover {
  color: var(--secondary-text-alt);
}

.nav-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-text-alt);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-item > a:hover::before {
  visibility: visible;
  transform: scaleX(0.9);
  color: var(--secondary-text-alt);
}

/* Center images */
.full-center {
  display: table-cell;
  margin: auto;
  height: 200px;
  text-align: center;
  width: 10000px;
  vertical-align: middle;
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Allow overlay for cards */
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0;
  background: rgba(50, 50, 50, 0.1) !important;
  width: 100%;
  height: 100%;
  transition: .35s ease;
  color: var(--secondary-text-alt);
  font-size: 16px;
  margin: auto;
  text-align: center;
  z-index: 2;
}

.underlay {
  transition: .35s ease;
  filter: blur(0px);
  z-index: 1;
}

.overlay-button {
  position: absolute;
  top: 4%;
  right: 6%;
  /* border-radius: 16px; */
  border-radius: 00%;
  height: 16px;
  width: 16px;
  opacity: 0.6;
  z-index: 2;
}

.overlay-button:hover {
  opacity: 1;
}

h1 {
  font-size: 50px;
  padding-bottom: 10px;
}



/*                         */
/*                         */
/*    Overview Section     */
/*                         */
/*                         */
.pic {
  border-radius: 0%;
  border: solid 0.4rem var(--secondary-back-alt);
}

.title {
  color: var(--primary-text-alt);
  font-size: 50px;
  font-weight: bold;
}

.location {
  color: var(--primary-text-alt);
  font-size: 32px;
  font-weight: normal;
}

.date {
  color: var(--primary-text-alt);
  font-size: 20px;
  font-weight: normal;
}

.abstract, .details, .target-audience,
.outline, .organizer, .link {
  width: 90%;
  color: var(--primary-text-alt);
  margin: auto auto;
  text-align: left;
}

.organizer-name {
  font-weight: bold;
  color: var(--primary-accent);
}

.organizer-affiliation {
  font-weight: bold;
  color: var(--secondary-accent);
}

.important-acronyms {
  font-weight: bold;
  color: var(--primary-accent);
}

.application {
  color: var(--primary-accent);
  font-weight: bold;
}

.workload {
  color: var(--primary-accent);
  font-weight: bold;
}

.operation, .utility {
  color: var(--tertiary-accent-alt);
  font-size: 1rem;
}

li div {
  text-align: right;
  padding-right: 10px;
}

li div span {
  float: left;
}

a {
  color: var(--primary-accent);
}

a:hover {
  color: var(--secondary-accent);
  text-decoration: none;
}

.ref-link {
  font-size: 1.2rem;
}





/*                               */
/*                               */
/*        Details Section        */
/*                               */
/*                               */

/* Accel wrappers */
.accel-box {
  width: 475;
  padding-right: 0px;
  padding-left: 0px;

  display: table-cell;
  margin: 0px auto 20px auto;
  margin-top: 3%;
  text-align: center;
  vertical-align: middle;
}

.accel-overlay-info {
  color: var(--secondary-text-alt);
  margin: auto 5%;
  text-align: center;
  font-size: 1.8rem;
}

.accel-card {
  background-color: transparent;
  color: var(--primary-text-alt);
  width: 475px;
  height: 350px;
  outline: none;
  border: none;
}

.accel-collapse-card {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--primary-text-alt);
  width: 475px;
  outline: none;
  border: none;
}

/* Button Effects */
.accel-button {
  border-radius: 0%;
  background-color: var(--secondary-back-alt);
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  outline: none;
  transition: 0.5s;
}

.accel-button:hover {
  background-color: var(--tertiary-back-alt);
  border: none;
  outline: none;
}

.accel-button:active {
  background-color: var(--tertiary-back-alt);
  border: none;
  outline: none;
}

.accel-button:focus {
  border: none;
  outline: none;
}

/* Card info */
.accel-name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.accel-full-name {
  text-align: center;
  font-size: 1.2rem;
}

/* Fix table border problems */
.accel-collapse-list {
  width: 475px;
  border-color: var(--primary-back-alt);
  text-align: left;
  margin: 0px auto;
}

.accel-list {
  padding: 10px 10px 0px 25px;
  margin: 0px;
  color: var(--primary-text-alt);
}

.accel-bullet {
  padding-bottom: 2%;
  font-size: 1rem;
}

.accel-detail-card {
  font-weight: bold;
  font-size: 1.3rem;
}

.accel-feature {
  font-weight: bold;
  color: var(--primary-accent);
}

.general-feature-list {
  margin: 2% 8%;
  color: var(--primary-text-alt);
}

.general-feature-item {
  color: var(--primary-text-alt);
  padding-bottom: 2%;
  font-size: 1rem;
}





/*                         */
/*                         */
/*      Links Section      */
/*                         */
/*                         */

.use-cases {
  color: var(--primary-text-alt);
  margin-top: 1%;
  margin-left: 5%;
  font-size: 1.1rem;
}

.use-case-accel {
  margin-bottom: 1%;
}

.site-author {
  margin: 5% none !important;
  padding-left: 1rem;
  font-size: 1rem;
}



/*                  */
/*                  */
/*      DEBUG       */
/*                  */
/*                  */
.border-debug {
  border: solid white 1px;
}
